body {
    background-color: #ccc;
    font-family: 'HP Simplified','HP Simplified Regular','Arial Unicode ms', arial, tahoma, sans-serif;
    font-size: 1em;
    margin: 20px;
    padding: 0;
}
select {
    font-family: 'arial unicode ms', arial, tahoma, sans-serif;
    border: none;
}
#all {
    background-color: #fff;
    width: 600px;
    background-position: 445px 10px;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    margin: 0 auto;
    padding: 10px;
}
#header {
    position: relative;
    background-color: none;
    height: 90px;
    width: 600px;
    margin: 0;
  
}
#header img{
float:left;
width:100px;
padding:10px 20px;
 
 }
#header h1 {
    color: #6d6d6d;
 font-size: 1.5em;
    top: 10px;
 margin: 0;
    padding: 0;
 left:15px;
 
 position:relative;
 text-align:left;
}
#content {
    width: 580px;
    position: relative;
    /*margin: 0 0 50px;*/
    padding: 15px 0;
}
#content ul {
 
    margin: 0;
    padding: 0 0 0 10px;
 text-align:center;
}
#content ul li {
 width: 420px;
    list-style-type: none;
    background-position: left top;
    background-repeat: no-repeat;
     margin: 0 auto;
    padding: 0 0 25px 0px;
 border-spacing:2px;
   border-collapse: separate;
   text-align:center;
}
#content ul li a {
  color: #fff;
  text-decoration: none;
  background: #0096d6;
  padding: 15px;
  display: block;
  text-align: center;
  font-weight:600;
  border:#3f8aaa 2px solid;
  
  border-radius:5px;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 5px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 5px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 5px; 
}
#content ul li a:hover {
    color: #ccc;
    text-decoration: underline;
}
/* Home Styles */
#contenth {
    width: 580px;
    position: relative;
    margin: 0 0 50px;
    padding: 25px 0;
}
#contenth ul {
 
    margin: 0;
    padding: 0 0 0 10px;
 text-align:center;
}
#contenth ul li {
 width: 420px;
    list-style-type: none;
    background-position: left top;
    background-repeat: no-repeat;
     margin: 0 auto;
    padding: 0 0 5px 0px;
 border-spacing:2px;
   border-collapse: separate;
   text-align:center;
}
#contenth ul li a {
  
}
#contenth ul li a:hover {
    
}
/* End Home Content*/
#footer {
   
    background-position: left 50%;
    background-repeat: no-repeat;
    height: 65px;
    position: absolute;
    width: 600px;
    bottom: 0px;
}
#footer #navigation {
    position: absolute;
    right: 15px;
    bottom: 20px;
 border: 1px solid #000000 !important;
}
.clear {
    clear: both;
}
#language_list {
    border: 1px solid #000000;
    background-color: #fff;
    font-size: .75em;
    display: block;
    margin: 0;
    padding: 0;
}
#language_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#language_list a {
 /*   height: 20px;*/
    display: block;
    color: #000;
    text-decoration: none;
    margin: 0;
    /*padding: 0 5px;*/
}
#language_list li {
    display: none;
    width: 140px;
 top:10px;
    margin: 0;
    padding: 0 5px;
}
#language_list li.khmer {
    border: 1px solid blue;
}
#language_list li.selected {
    display: block;
    background-image: url(../../elements/dropdown.gif);
    background-position: right bottom;
    background-repeat: no-repeat;
}
#language_list li.normal {
    display: none;
    cursor: hand;
}
#language_list:hover li.normal,
#language_list:hover li.selected {
    display: block;
    background-image: none;
}
#language_list li a:hover {
    background-color:#0096d6;;
    color: #fff;
}
#language_list li:hover {
    display: block;
    visibility: visible;
}
body.rtl #header h1 {
    right: 15px;
}

body.rtl #header img {
    float:right;
}

body.rtl #language_list li.selected {
    background-position: left bottom;
}
body.rtl #all {
    background-position: 10px 10px;
}
body.rtl #content ul li {
    background-position: right top;
    padding: 0 20px 25px 0;
}
body.index #header {
    background-position: left top;
    background-repeat: no-repeat;
    height: 150px;
}
body.index #content ul {
    width: 45%;
}
body.index #content ul li {
    white-space: nowrap;
}
body.km-KM #header {
    background-position: left bottom;
    background-repeat: no-repeat;
}
img.km-KM_lang_dd {
    background-position: left top;
    background-repeat: no-repeat;
    width: 160px;
}
body.rtl img.km-KM_lang_dd {
    background-position: right top;
    background-repeat: no-repeat;
    width: 150px;
}
img.km-KM_regulatory {
    background-position: left top;
    background-repeat: no-repeat;
}
img.km-KM_safety {
    background-position: left top;
    background-repeat: no-repeat;
}
img.km-KM_eula {
    background-position: left top;
    background-repeat: no-repeat;
}
#language_list ul.col_1,
#language_list ul.col_2,
body.index #content ul.col_1,
body.index #content ul.col_2 {   display: block;    float: left;
    background-color: #fff;

}
body.index #header h1,
body.index #footer,
body.km-KM #header h1 {
    display: none;
 
}
li.normal {
 border: 1px solid transparent;
 text-align: left;
 margin-bottom: 5px !important;
 border-bottom-color: #f5f5fe;
}
li.normal a {
 margin-top: 3px;
 font-size: 14px;
}
li.normal:hover {
 background: #fdfdf0
}
#contenth ul, #contenth ul li {
 text-align: left !important;
}
#contenth ul li a:link, #contenth ul li a:hover, #contenth ul li a:active, #contenth ul li a:visited {
 text-decoration: none;
 color: #0397D6 !important;
 word-wrap: break-word;
}
#contenth ul li a:hover {
 text-decoration: underline;
}
* {
 border-color: transparent !important;
}
.collapsible-header {
 text-align: center;
}
.collapsible-body li a {
 display: block;
 padding: 5px 15px;
}
li.active .collapsible-header {
 background: #0096D6;
 color: #fff;
 border-radius: 5px !important;
}
table {
 width: 100%;
}
#header table tr td {
 padding: 4px;
 border-bottom: 1px solid !important;
 border-color: rgba(198,198,198,0.135) !important;
}
table tr td:hover {
 background: rgba(255,204,0,0.120);
}
table tr td a {
 text-decoration: none;
 font-size: 0.90em;
}
table tr td a:link, table tr td a:active, table tr td a:hover, table tr td a:visited {
 color: #0397D6;
 text-decoration: underline;
}
a {
 margin-bottom: 10px;
}
